footer.footer {
  padding: 10px;
  padding-bottom: 0;
  background-color: #eaeaea;
  text-align: center;
}

div.centered {
  text-align: center;
}

img.post {
  max-width: 640px;
  max-height: 400px;
  margin-bottom: 10px;
}

div.video {
  text-align: center;
}

div.video video {
  max-width: 640px;
  max-height: 400px;
  margin-bottom: 10px;
}

div.image {
  text-align: center;
  margin-bottom: 10px;
}

div.image.left {
  float: left;
  margin-right: 10px;
}

div.image.right {
  float: right;
  margin-left: 10px;
}

div.image img.post {
  margin-bottom: 0;
}

div.image img.post.small {
  max-width: 150px;
  max-height: 150px;
}

div.image p.caption {
  font-style: italic;
  font-size: 0.9em;
}

div.image p {
  margin: 0;
  padding: 0;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

img.embedimg {
  margin: 0 0 5px 0;
  max-width: 100%;
}

body {
  padding-top: 70px;
}

img.logo {
  width: 25px;
  height: 25px;
}

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.bs-callout-danger h4 {
  color: #B94A48;
}

.bs-callout-warning h4 {
  color: #C09853;
}

.bs-callout-info h4 {
  color: #3A87AD;
}

/* Changes for accessibility */

a {
  color: #0076b7;
}

.pagination > .disabled > a,
.pagination > .disabled > span,
.pagination > .active > a,
.pagination > .active > span {
  color: #707070;
}

.badge {
  background-color: #767676;
}