---
title: Winter Frost
date: 2013-11-24 12:00 CET
tags: photo, black/white, frost, hoarfrost
---

<%= embed_500px(53048950, "http://ppcdn.500px.org/53048950/fa5ed10038526aef9bda160d0cf58dd2e4aebf0d/4.jpg", "Winter Frost" ) %>

<p><%= link_500px(53048950, "Winter Frost") %> | <%= link_flickr(11028799524, "Winter Frost") %></p>