---
---
%h1
  All Articles

.list-group
  - blog.articles.each do |article|
    %a.list-group-item{ :href => url_for(article) }
      %span.badge= article.date.strftime('%Y-%m-%d')
      = article.title
