---
private: true
---
%h1 Gaming

%p
  Gaming networks you can find me on.

.bs-callout.bs-callout-warning
  If your account does not contain your name and gives me no clue as to who you are then I most likely won't add you until you email me and tell me that it's you - since I don't add unknown people :)

%table.table
  %thead
    %tr
      %th Network
      %th Account
  %tbody
    %tr
      %td PSN
      %td chrissearle
    %tr
      %td Nintendo Network ID
      %td chrissearle
    %tr
      %td Blizzard Battletag
      %td Kneet#2548
    %tr
      %td Blizzard Real ID
      %td My normal e-mail - use it if you have it - I prefer real ID to battletag
      