---
---
%h1
  Article Series

.list-group
  - series.sort_by {|k, v| v[:most_recent] * -1}.each do |series_key, series|
    %a.list-group-item{ :href => "/series/#{series_key}" }
      %span.badge= series[:count]
      = series[:title]
