---
title: Temperatures
---

%h2 Temperatures

%iframe{ width: 750, height: 300, src: 'https://api.thingspeak.com/channels/253539/charts/1?dynamic=true&title=Rabbits%20Bedroom&type=line&xaxis=Date%2FTime&yaxis=Temperature+%28%CB%9AC%29&height=300&width=750'}

%iframe{ width: 750, height: 300, src: 'https://api.thingspeak.com/channels/253539/charts/2?dynamic=true&title=Rabbits%20Cage&type=line&xaxis=Date%2FTime&yaxis=Temperature+%28%CB%9AC%29&height=300&width=750'}
