%h1 Vegetarianer

%p
  Jeg har vært vegetarianer nå i
  = (Time.now.year - Time.new(1973, 07, 28).year) - 18
  år - men hva betyr det her i Norge?

.bs-callout.bs-callout-danger
  %h4
    Det betyr at jeg ikke spiser følgende:

  %ul.list-group
    %li.list-group-item Kjøtt
    %li.list-group-item Fisk
    %li.list-group-item Skalldyr


.bs-callout.bs-callout-info
  %h4
    Jeg er ikke vegan - så jeg spiser fortsatt:
    
  %ul.list-group
    %li.list-group-item Ost
    %li.list-group-item Egg
    %li.list-group-item Melk


.bs-callout.bs-callout-warning
  %h4
    Men - det er et par andre ting som man må være forsiktig med.
    
  %p
    %span.label.label-danger= 'Gelatin'
    er et produkt som kommer fra gris. Det er brukt i ganske mange ting som har en geleaktig konsistens.
    Alternativ er enten pectin eller agar agar - men da må man sjekke innhold nøye.

  %p
    %span.label.label-danger= 'Animalsk løpe'
    kommer fra kuer og er brukt i ganske mange oster. Alternativ er mikrobiell løpe. Dessverre bruker
    Tine nesten utelukkende animalsk løpe og dermed alle gulost varianter fra Tine er ikke vegetar. Synnøve Finden og
    andre produsenter er ofte OK - men igjen man må sjekke innholdslisten.

.bs-callout.bs-callout-danger
  %h4
    En siste kommentar.
    
  %p
    Nei - vegetar folk kan ikke "bare plukke av kjøttet" eller lignende. Tenk deg en saus som du bare
    ikke klare tanken på en gang - og så får du beskjed "kan du ikke bare skrape det av"? Du vet du får den aldri helt av
    og for oss så er det det samme med kjøtt/fisk/osv. Den skal ikke være på samme serveringsfat en gang.