%h1 Vegetarian

%p
  I've been vegetarian for about
  = (Time.now.year - Time.new(1973, 07, 28).year) - 18
  years now - but what does that mean?

.bs-callout.bs-callout-danger
  %h4
    It means I do not eat the following:

  %ul.list-group
    %li.list-group-item Meat
    %li.list-group-item Fish
    %li.list-group-item Shellfish


.bs-callout.bs-callout-info
  %h4
    I am not vegan - so I do eat:
    
  %ul.list-group
    %li.list-group-item Cheese
    %li.list-group-item Egg
    %li.list-group-item Milk
    %li.list-group-item Dairy

.bs-callout.bs-callout-warning
  %h4
    But there are a couple of things to be careful about.

  %p
    %span.label.label-danger= 'Gelatine'
    is a product that comes from pigs. It is used in many products with a jelly like consistency.
    Alternatives include pectin and agar agar - but you have to check the ingredients to know.

  %p
    %span.label.label-danger= 'Rennet'
    comes from cows and is used in lots of cheeses to harden them. There is a vegetarian form called microbial rennet. Sadly,
    Tine use cow rennet in nearly all their yellow cheeses and therefore almost all Tine yellow cheese is not vegetarian. Synnøve Finden and
    some other companies are often OK - again - you have to check the ingredients to know.

.bs-callout.bs-callout-danger
  %h4
    One last comment.
    
  %p
    No - vegetarians can't just "pick the meat off" or anything similar. Imagine a sauce that you simply can't stand - that's soaked into
    the dish - and you get told "can't you just scrape it off ?" You know that you'll never get it completely off,
    well, for us it's the same with meat/fish/etc. It shouldn't even be on the same serving dish.